#genre_list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: absolute;
  margin-right: 76px;
  margin-left: 20px;
  gap: 75px;
  text-transform: uppercase;
  font-weight: lighter;
}

#genre_list a {
  font-size: 1.6rem;
}
